.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}

.bg-navbar {background-color: #9c27b0;}
.sns {position: absolute; right: 10px;}
.sns img {display: inline-block; width: 30px !important; border: 0; border-radius: 5px; margin: 0 5px 0 0;}

.subject a {margin: 5px 0;}

img {margin: 5px 0; border: 1px solid #ccc;}

ul {padding: 0 0 0 20px;}

h2 a {color: #000; text-decoration: none;}
h6 {margin-top: 15px; color: #999;}
strong  {color: #66d9ef;}